%h2 Edit User

- unless @user.active?
  %br
  %div.alert.alert-error
    %p Note: This user is not active and has a deleted_at flag set on their account, they need to be activated first from the users list before modifying anything.
%br
= semantic_form_for @user do |f|
  = f.input :email
  - if current_user.has_role? :admin
    = f.input :roles, :as => :check_boxes, :collection => Role.all
  = f.submit :class => "btn btn-default"

%br
%br
%h2 Change Password
= form_for(@user, :url => { :id => @user.id, :action => "update_password" } ) do |f|
  %div.form-group
    = f.label :password, "Password"
    = f.password_field :password, :autocomplete => "off", :class => "form-control"
  %div.form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => "form-control"
  %div.action_container
    = f.submit :class => 'btn btn-default'
