%p Note: You can expand a check and submit it by expanding the check and clicking "Request Check"
- @checks.each do |check|
  .modal.fade{:id => "check_modal_#{check.name}"}
    .modal-dialog
      .modal-content
        .modal-header
          %h3 Submit #{check.name}
        .modal-body
          .form-group
            %label{:for => "subscribers_input_#{check.name}"}
              Input subscribers to run check against comma seperated (e.g. role1, role2, role3)
            %textarea.form-control{:id => "subscribers_input_#{check.name}"}
        .modal-footer
          %a.submit-individual-check.btn.btn-success{:id => "submit_check_#{check.name}", :misc => "#{check.name}", :rel => "/checks/#{check.name}/submit", :href => "#"} Submit

.accordion#check_accordion
  - @checks.each do |check|
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:href => "#collapse_#{check.name}", 'data-toggle' => 'collapse', 'data-parent' => '#check_accordion'}
          = check.name
          %i.icon-plus{:id => "icon_toggle_#{check.name}"}
      .accordion-body.collapse{:rel => "#{check.name}", :id => "collapse_#{check.name}"}
        .accordion-inner
          %table.table.table-striped.table-bordered.check-table{:id => "table_for_#{check.name}"}
            %tbody
              - check.attributes.each do |k,v|
                %tr
                  %td= k
                  %td= v

          %a.btn.btn-primary.modal-for-check-submit{:misc => "#{check.name}"} Request Check
          %br
          %br
